#mainheader {
    background-color: #9c93c2;
    padding: 16px; /* Optional for extra spacing */
}
nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox */
    justify-content: flex-start; /* Align items to the left */
}

nav>ul>li {
    margin-right: 20px; /* Add spacing between items */
}

nav>ul>li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}
