<aside id="leftmenu">
    <img src="\assets\images\banniere-boulangerie-cupcake_1308-130110.avif" />
    <header>
        <h4 style="text-align: center;">Explorez nos cakes</h4>
    </header>
    <input type="search" class="searchbox" placeholder="Chercher dans notre boutique" />
    <ul>
        <li><a href="tousdetails.html">Tous</a></li>
       <li><a href="cheesecakes.html">Cheesecakes</a></li>
       <li><a href="pies.html">Tartes</a></li>
       <li><a href="#promos">Promotions</a></li>
   </ul>
</aside>